{% extends 'it_project/base.html' %}
{% block content %}
    <div class="add_page_form">
        <form action="{% url 'add_page' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form">
                {% for f in form %}
                    {% if f.id_for_label == 'id_category' %}
                        <label class="form-label-first"
                               for="{{ f.id_for_label }}">{{ f.label }}</label>
                        <div class="select-wrapper">{{ f }}
                            <div class="arrow"></div>
                        </div>
                        <div class="form-error-first">{{ f.errors }}</div>
                    {% elif f.id_for_label == 'id_photo' %}
                        <label class="form-label"
                               for="{{ f.id_for_label }}">{{ f.label }}</label>
                        <div class="drop-box" id="dropPreview">
                            <img src="" class="myimage" id="my_image">
                            <button style="display: none" type="button" id="delete" onclick="alerted()">Удалить</button>
                            <span class="image-preview__default-text">Image Prewiev<br>Максимальный размер фото 700x700<br>Допустимый формат .jpg</span>
                            <label id="button_uploader">{{ f }}<span>Выбрать файл</span></label>
                        </div>
                        <div class="form-error-first">{{ f.errors }}</div>
                    {% elif not forloop.first %}
                        <label class="form-label"
                               for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}
                        <div class="form-error">{{ f.errors }}</div>
                    {% else %}
                        <label class="form-label-first"
                               for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}
                        <div class="form-error-first">{{ f.errors }}</div>
                    {% endif %}
                {% endfor %}
                <button class="end_button" type="submit">Добавить</button>
            </div>
        </form>
    </div>
    <script>
        function alerted() {
            const previewDefaultText = document.querySelector('.image-preview__default-text')
            previewDefaultText.style.display = 'block'
            const previewContainer = document.getElementById('id_photo')
            previewContainer.value = ''
            const previewContaine = document.getElementById('button_uploader')
            previewContaine.style.display = 'block'
            const buttonOfDelete = document.getElementById('delete')
            buttonOfDelete.style.display = 'none'
            const previewImage = document.querySelector('.myimage')
            previewImage.style.display = 'none'
            previewImage.setAttribute('src', "");
            const previewDrop = document.getElementById('dropPreview')
            previewDrop.style.width = 'calc(100% - 4px)'
        }

        const inpFile = document.getElementById('id_photo')
        const previewContainer = document.getElementById('dropPreview')
        const previewImage = document.querySelector('.myimage')
        const previewDefaultText = document.querySelector('.image-preview__default-text')

        inpFile.addEventListener('change', function () {
            const file = this.files[0];
            // Allowing file type
            var allowedExtensions =
                    /(\.jpg|\.jpeg|\.png)$/i;

            var filePath = inpFile.value;

            if (!allowedExtensions.exec(filePath)) {
                alert('Допускается изображение только в формате jpg')
                inpFile.value = '';
                return false;
            }
            else (allowedExtensions.exec(filePath))
            {
                const reader = new FileReader();
                previewImage.style.borderRadius = '5px'
                previewImage.style.display = 'block'
                previewImage.style.alignSelf = 'center'
                previewImage.style.maxWidth = '100%'
                previewImage.style.maxHeight = '700px'
                previewDefaultText.style.display = 'none'
                const previewButton = document.getElementById('button_uploader')
                previewButton.style.display = 'none'
                const buttonOfDelete = document.getElementById('delete')
                buttonOfDelete.style.display = 'block'

                reader.addEventListener('load', function () {
                    console.log(this)
                    previewImage.setAttribute('src', this.result)
                })

                reader.readAsDataURL(file);

                previewImage.onload = function () {
                    if (previewImage.clientHeight > 300) {
                        console.log('calc(' + previewContainer.clientHeight + ' - 39%)')
                        buttonOfDelete.style.marginTop = 'calc(' + previewContainer.clientHeight + 'px * 4/5)'
                        buttonOfDelete.style.position = 'absolute'
                    }
                    previewContainer.style.width = String(previewImage.clientWidth + 'px')
                    console.log(previewImage.clientWidth)
                }
            }
        })
    </script>
{% endblock %}
{% block dropzone %}
{% endblock %}