{% extends 'it_project/base_1.html' %}
{% load it_projects_tags %}

{% block content %}
    <div class="form change-password-form">
        <form method="post" class="change-password" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="title-profile-settings">Изменение пароля</h1>
            <div class="form-error">
                {{ form.non_field_errors }}
            </div>
            {% for f in form %}
                <div class="change-password-field-with-label">
                    <label class="change-password-label">{{ f.label }}</label>
                    {{ f }}
                    <div class="form-error">{{ f.errors }}</div>
                </div>
            {% endfor %}
            <div class="submit-change-password-settings-relative">
                <button type="submit" class="submit-change-password-settings">Подтвердить</button>
            </div>
        </form>
    </div>
{% endblock %}