{% extends 'it_project/base.html' %}
{% load static %}
{% load it_projects_tags %}
{% block categories %}
    <div class="categories">
        <ul id="rightchapters">
            {% if cat_selected == 0 %}
                <li class="selected">Все категории</li>
            {% else %}
                <li><a href="{% url 'main' %}">Все категории</a></li>
            {% endif %}
            {% show_categories 'name' cat_selected %}
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="article">
        <div class="article-panel">
            <div class="date_post">{{ post.time_create|date:"d M. в H:i" }}</div>
        </div>
        <a class="title_post" href="{{ post.category.get_absolute_url }}">{{ post.title }}</a>
        <div class="category"><a href="{{ post.category.get_absolute_url }}"
                                 class="{{ post.category.slug }}">{{ post.category.name }}</a></div>
        {% if post.photo %}
            <img class="img-post" src="{{ post.photo.url }}" alt="{{ post.slug }}">
        {% endif %}
        <p>{{ post.header_text|linebreaks }}{{ post.content|linebreaks }}</p>
    </div>
{% endblock %}
{% block best-articles %}
    <div class="best-articles">
        <h1> Лучшие статьи </h1>
        <hr>
        <div class="articles">
            {% getbest as best_posts %}
            {% for p in best_posts %}
                <div class="article_in_best_articles">
                    <a class="best_post" href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}